In [2]:
import sqlite3

### Connect to the databse

In [5]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

### create table

In [6]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
create_table = """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                maths_marks INTEGER
                );"""
connection.execute(create_table)
connection.commit()
connection.close()

### insert data

In [9]:
classroom_data = [(1,"Chaitanya","M",92,72,95),
                  (2,"Janak","M",99,99,99),
                  (3,"Anish","M",100,100,50),
                  (4,"Prachi","F",88,99,71)]
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()

for student in classroom_data:
    insert_statement = """INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,maths_marks)
                          VALUES({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_statement)

connection.commit()
connection.close()

In [12]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()

select_statement = "SELECT * FROM classroom"

cursor.execute(select_statement)

results = cursor.fetchall()

for row in results:
    print(row)
    
connection.close()

(1, u'Chaitanya', u'M', 92, 72, 95)
(2, u'Janak', u'M', 99, 99, 99)
(3, u'Anish', u'M', 100, 100, 50)
(4, u'Prachi', u'F', 88, 99, 71)

### Install MySQL for python

In [17]:
!conda install -y -q pymysql

Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

### Install MSSQL for python

In [18]:
!conda install -y -q pymssql